{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Cadastrar Usuarios{% endblock %}


{% block content %}
<div>
    <footer class="container-fluid bg-primary">
        <div class="container text-light">
            <div class="row">
                <div class="col">
                    <div class="p-2 text-left">
                        <a href="{% url 'usuario:login' %}" style="color: #FFF">
                            <svg xmlns="http://www.w3.org/2000/svg" width="2rem" height="2rem" fill="currentColor" class="bi bi-house-door-fill" viewBox="0 0 16 16">
                                <path d="M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5z"/>
                            </svg>
                        </a>
                    </div>
                </div>                    
            </div>
        </div>
    </footer>
</div>

<div class="container">
    <div class="row">        
        <div class="col">
        </div>
        <div class="col-8 mt-4 mb-4 shadow bg-body rounded">
            {% block titlecad %}
            <h3>Cadastrar Cliente</h3>
            {% endblock %}

            
            <form method="POST">
                {% csrf_token %}

                {{ userform|crispy }}
                {{ perfilform|crispy }}
                <div class="row">
                    <div class="col mb-4">
                        <button type="submit" class='btn btn-primary btn-block btn-lg'>Cadastrar</button>

                    </div>

                </div>
                


            </form>
        </div>
        <div class="col">
        </div>
    </div>
</div>


{% endblock %}