{% extends 'base.html' %}

{% block title %}Login CRASA{% endblock %}

{% block content %}
        <div class="bg-body text-dark d-flex justify-content-center align-middle" style="min-height: 95vh;">
          <section class="container shadow bg-body rounded m-auto" >
            <div class="container">
              <footer class="container-fluid bg-primary">
                  <div class="container text-light">
                      <div class="row">
                          <div class="col">
                              <div class="p-2 text-center">
                                  <h2>CRASA<h2>
                              </div>
                          </div>                    
                      </div>
                  </div>
              </footer>
              </div>
              
          <div class="row d-flex justify-content-center align-items-center mb-4">
              <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
                    <form method="POST" action="{% url 'usuario:login' %}">
                        {% csrf_token %}
                        {% include 'parciais/_messages.html' %}
                        
                        <div class="form-group">
                          <label for="InputUsuario1">Usuario</label> 
                          
                          <input type="text" maxlength="14" name="username" class="form-control cpf {{ login.class }}" id="InputUsuario1" aria-describedby="UsuarioHelp" placeholder="000.000.000-00" data-mask="000.000.000-00" required>
                          <small id="usuarioHelp" class="form-text text-muted">Informe seu cpf, apenas numeros</small>
                         
                        </div>
                        <div class="form-group">
                          <label for="InputPassword1">Senha</label>
                          <input type="password" maxlength="20" name="password" class="form-control {{ login.class }}" id="InputPassword1" placeholder="Informe sua Senha" required>
                        </div>  

                        
                        <div style="color: red;">{{ login.text }}</div>
                        
                        
                        <div class="text-center text-lg-start mt-4 pt-2">
                          <button type="submit" value="Login" class="btn btn-primary btn-lg"
                            style="padding-left: 2.5rem; padding-right: 2.5rem;">Acessar</button>
                            <p class="small fw-bold mt-2 pt-1 mb-0">Não possui cadastro <a href="{% url 'usuario:cadastrar' %}" class="link-danger">Cadastre-se</a></p>
                            <p class="small fw-bold mt-2 pt-1 mb-0"><a href="{% url 'usuario:password_reset'%}" class="link-danger">Recuperar senha</a></p>
                        </div>
                        
                       
            
                    </form>
                </div>
          <div class="col-md-9 col-lg-6 col-xl-5">
            <!-- <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp" -->
            <img src="/static/img/sus.png" 
            class="img-fluid" alt="Sample image">
          </div>

          </div>
        </div>
        <!-- <div
          class="d-flex flex-column flex-md-row text-center text-md-start justify-content-between py-4 px-4 px-xl-5 bg-primary">
          Copyright
          <div class="text-white mb-3 mb-md-0">
            Copyright © 2020. All rights reserved.
          </div>

        </div> -->
      </section>

    </div>


{% endblock content %}