{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Cadastrar Usuarios{% endblock %}


{% block content %}

<div class="container">
    <div class="row">
        <div class="col">
        </div>  
        <div class="col-8 mt-4 mb-4 shadow bg-body rounded">
            <h3 class="mt-2">Adicionar caso</h3>            
            
            <form action="" method="POST">
                {% csrf_token %}

                {{ relatorioform|crispy }}  
               
                <a style="color: black;" href="#collapseUnidade" data-toggle="collapse"><u>Selecionar Unidades</u></a>
                <p>
                
                <div class="collapse" id="collapseUnidade">

                
                        <select name="select_unidade" id="select_unidade">
                            <option value="Null">Selecionar Unidade</option>
                            {% for p in unidade %} 
                            <option value="{{p.id}}">{{p.nome}}</option>
                            {% endfor %}
                        </select> 



                </div> 

                 
                {{ selecionarform|crispy }}  
                         
                
                
                
                
                <div class="row">
                    <div class="col mb-4">
                        <button type="submit" class='btn btn-primary btn-block btn-lg'>Exportar</button>

                    </div>
                </div> 
            </form>
        </div>

        <div class="col">
        </div>   
    </div>
</div>


{% endblock content %}