
{% load static %}
<div>
<footer class="container-fluid bg-primary navbar-expand-lg " style="min-height: 5vh;">
    <div class="container text-light">
        <div class="row">            
            <div class="col">
                <div class="p-1 text-right">
                    <span class="align-middle p-1">Bernardino</span>
                </div>
            </div>
        </div>
    </div>
</footer>
</div>

<script src="{% static 'assets/bootstrap/js/jquery-3.2.1.slim.min.js' %}"></script>
<script src="{% static 'assets/bootstrap/js/popper.min.js' %}"></script>
<script src="{% static 'assets/bootstrap/js/bootstrap.min.js' %}"></script>
<script defer src="{% static 'assets/font-awesome/js/all.js' %}"></script>
<script src="{% static 'assets/custom/js/scripts.js' %}"></script>
<script src="{% static 'assets/custom/js/jquery.mask.min.js' %}"></script>

<script src="{% static 'assets/custom/alert/sweetalert2.all.js' %}"></script>
<script src="{% static 'assets/custom/alert/sweetalert2.all.min.js' %}"></script>
<script src="{% static 'assets/custom/alert/sweetalert2.js' %}"></script>
<script src="{% static 'assets/custom/alert/sweetalert2.min.js' %}"></script>
<script src="{% static 'assets/custom/datatable/datatables.min.js' %}"></script>

