<div>

<nav class="navbar navbar-dark bg-primary navbar-expand-lg " style="min-height: 5vh;">
    <a class="navbar-brand"style="margin-left:10%;" href="{% url 'usuario:formlist' %}">Crasa</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto" style="min-height: 5vh; margin-right:5%;">
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'usuario:formlist' %}">Inicio<span class="sr-only">(current)</span></a>
            </li>

            {% if request.user.perfil.nivel_acesso != 'usuario' %}      
            <li class="nav-item">
                <a class="nav-link" href="{% url 'unidade:userlist' %}">Controle de acesso</a>
            </li>            
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Relatorios
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{% url 'relatorio:geral'%}">Geral</a> 
                    <a class="dropdown-item" href="{% url 'relatorio:detalhado' %}">Detalhado</a> 
                </div>                
            </li> 
            {% endif %}
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Conta
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{% url 'usuario:cadastrar' %}">Atualizar</a> 
                    <a class="dropdown-item" href="{% url 'password_change' %}">Trocar senha</a>                    
                    <div class="dropdown-divider"></div>
                    <form method="POST" action="{% url 'usuario:logout' %}">
                        {% csrf_token %}
                        <button class="dropdown-item"  type='submit'>Sair</button>
                    </form>
                    <!-- <a class="dropdown-item" href="{% url 'usuario:logout' %}">Sair</a> -->
                </div>                
            </li>  
                   
        </ul>        
        
    </div>
</nav>
</div>
