{% extends 'base.html' %}

{% block title %}Usuarios{% endblock %}

{% block content %}
  
    <div class="container">        
        <div class="row">            
            <div class="col-md-12">  
            <h1 class="text-center">Usuarios</h1>
            {% csrf_token %}
            <hr>
            <table>
                <thead>
                <tr>
                    <th>Nome</th>
                    <th>Login</th>
                    <th>Email</th>
                    <th>Data Nascimento</th>
                    <th>Status</th>
                        
                </tr>
                </thead>
                <tbody>
                        {% csrf_token %}
                        {% for p in user_list %}                        
                        <tr>
                            <td><a href="{% url 'unidade:ative' p.id %}">{{p.first_name}}</a></td>
                            <td><a href="{% url 'unidade:ative' p.id %}">{{p.username}}</a></td> 
                            <td>{{p.id}}</td>
                            <td>{{p.perfil.unidade}}</td>
                            {% if p.is_active %}
                                <td>Ativo</td>
                            {% else %}
                                <td>Inativo</td>
                            {% endif %}                  
                          
                        </tr>                       
                        {% endfor %}
                </tbody>
            </table> 
                                   
            </div>

            <a href="{% url 'usuario:form' %}" class="btn btn-primary btn-sm mt-3" style="padding-left: 2.5rem; padding-right: 2.5rem;">Novo caso</a>  
                      
        </div> 
        
    </div>   
{% endblock %}