{% extends 'base.html' %}

{% block title %}Usuarios{% endblock %}

{% block content %}
  
    <div class="bg-body text-dark d-flex justify-content-center align-middle" style="min-height: 95vh;">        
        <div class="container row">            
            <div class="col-md-12">  
            <h1 class="text-center mt-5">Usuarios</h1>
            {% csrf_token %}
            <hr>
            
            
            <table id="listForm" class="display table table-striped shadow-sm mt-auto bg-body rounded" style="width:100%;min-height: 50vh;">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Login</th>
                        <th>Email</th>
                        <th>Data Nascimento</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    {% for p in user_list %}                                           
                        <tr>
                            <td><a href="{% url 'unidade:ative' p.id %}">{{p.first_name}}</a></td>
                            <td><a href="{% url 'unidade:ative' p.id %}">{{p.username}}</a></td> 
                            <td>{{p.email}}</td>
                            <td>{{p.perfil.unidade}}</td>
                            {% if p.is_active %}
                                <td>Ativo</td>
                            {% else %}
                                <td>Inativo</td>
                            {% endif %}                    
                          
                        </tr>                                           
                    {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <th>Nome</th>
                        <th>Login</th>
                        <th>Email</th>
                        <th>Data Nascimento</th>
                        <th>Status</th>
                    </tr>
                </tfoot>
            </table>
                                   
            </div>  
               
        </div> 
        
    </div>   
{% endblock %}