{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Login{% endblock %}

{% block content %}
    
  <div class="container">
    <h1 class="mt-5" >{{contato.iniciais}}</h1>
    <div class="row"> 
     
      <div class="col-6 mt-3">
        <dl>
          <dt>Unidade</dt>
          <dd>{{contato.unidade}}</dd>
    
          <dt>Sexo</dt>
          <dd>{{contato.sexo}}</dd>

          <dt>Cor</dt>
          <dd>{{contato.cor}}</dd>
    
          <dt>Cartão Sus</dt>
          <dd>{{contato.cns}}</dd>
    
          <dt>CPF</dt>
          <dd>{{contato.cpf}}</dd>

          <dt>Data Nascimento</dt>
          <dd>{{contato.dnasc|date:'d/m/Y'}}</dd>
    
          <dt>Status</dt>
          <dd>{{contato.situacao}}</dd>

          {% for p in observacao %}
            <dt>Observação atualizada em: </dt>
            <dd>{{p.data_observacao}}</dd>    
            <dd>{{p.observacao}}</dd>                
            <dd>Enviado por: {{p.usuario_observacao.first_name}} {{observacao.usuario_observacao.last_name}} </dd>             
          {% endfor %}

          

        </dl> 
      </div> 
      
      
      <div class="col-6 mt-3">        
      <dl>
        <dd>{{contato.end}}, {{contato.numero}}</dd>
        <dd>{{contato.bairro}}</dd>
        <dd>{{contato.complemento}}</dd>
        <dd>{{contato.cep}}</dd>

        <dt>Tipo de Acumulo:</dt>
        <dd>{{contato.tipo}}</dd>

        <dt>Data Inicio</dt>
        <dd>{{contato.dtinicio}}</dd>

        <dt>Data Nascimento</dt>
        <dd>{{contato.dnasc|date:'d/m/Y'}}</dd>

        <dt>Status</dt>
        <dd>{{contato.situacao}}</dd>

        <dt>Orgãos</dt>
        <dd>{{contato.orgaos}}</dd>
        <dd>{{contato.outros}}</dd>

        
         



          
                       
         
        
      </dl> 
      </div>
      
    </div>
    <form action="" method="POST">
      {% csrf_token %}

      <a style="color: black;" href="#collapseUnidade" data-toggle="collapse"><u><b>Clique aqui para Atulizar Orgãos</b></u></a>
                <p>
                
                <div class="collapse" id="collapseUnidade">

                
                  <dd>{{ orgaosform|crispy}}</dd>
                  



                </div>

        {{ observacaoform|crispy }}
        <div class="row">
          <div class="col mb-4">
            <button type="submit" class='btn btn-primary btn-block btn-lg'>Atualizar</button>
          </div>
        </div>
      </form>
  </div>   
{% endblock %}