{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
  
    <div class="container">        
        <div class="row">            
            <div class="col-md-12">  
            <h1 class="text-center">Formulario</h1>
            {% csrf_token %}
            <hr>
            <table>
                <thead>
                <tr>
                    <th>Iniciais</th>
                    <th>CPF</th>
                    <th>Unidade</th>
                    <th>Data Nascimento</th>
                    <th>Status</th>
                        
                </tr>
                </thead>
                <tbody>
                        {% csrf_token %}
                        {% for p in form_list %}                        
                        <tr>
                            <td><a href="{% url 'usuario:detalhes' p.id %}">{{p.iniciais}}</a></td>
                            <td><a href="#">{{p.cpf}}</a></td> 
                            <td>{{p.unidade}}</td>
                            <td>{{p.dnasc}}</td> 
                            <td>{{p.situacao}}</td>                      
                          
                        </tr>                       
                        {% endfor %}
                </tbody>
            </table> 
                                   
            </div>

            <a href="{% url 'usuario:form' %}" class="btn btn-primary btn-sm mt-3" style="padding-left: 2.5rem; padding-right: 2.5rem;">Novo caso</a>  
                      
        </div> 
        
    </div>   
{% endblock %}