{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
  
    <div class="bg-body text-dark d-flex justify-content-center align-middle" style="min-height: 95vh;">        
        <div class="container row">            
            <div class="col-md-12">  
            <h1 class="text-center mt-5">Formulario</h1>
            {% csrf_token %}
            <hr>
            <a href="{% url 'usuario:form' %}" class="btn btn-primary btn-sm mb-3" style="padding-left: 2.5rem; padding-right: 2.5rem;">Novo caso</a> 
            
            <table id="listForm" class="display table table-striped shadow-sm mt-auto bg-body rounded" style="width:100%;min-height: 50vh;">
                <thead>
                    <tr>
                        <th>Iniciais</th>
                        <th>CPF</th>
                        <th>Unidade</th>
                        <th>Data Nascimento</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    {% for p in form_list %}
                    {% if request.user.perfil.unidade == p.unidade %}                        
                        <tr>
                            <td><a href="{% url 'usuario:detalhes' p.id %}">{{p.iniciais}}</a></td>
                            <td><a href="#">{{p.cpf}}</a></td> 
                            <td>{{p.unidade}}</td>
                            <td>{{p.dnasc}}</td> 
                            <td>{{p.situacao}}</td>                      
                          
                        </tr> 
                    {% endif %}                       
                    {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <th>Iniciais</th>
                        <th>CPF</th>
                        <th>Unidade</th>
                        <th>Data Nascimento</th>
                        <th>Status</th>
                    </tr>
                </tfoot>
            </table>
                                   
            </div>  
               
        </div> 
        
    </div>   
{% endblock %}